@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Custom Colors */
  --face-intro: #0f172a;
  --face-education: #2563eb;
  --face-projects: #14b8a6;
  --face-skills: #f59e0b;
  --face-experience: #8b5cf6;
  --face-contact: #f43f5e;
  /* Face Size */
  --face-size: 750px;
}

@media (max-width: 1024px) {
  :root {
    --face-size: 500px;
  }
}

@media (max-width: 640px) {
  :root {
    --face-size: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.cube-container {
  perspective: calc(var(--face-size) * 3);
}
