@import "tailwindcss";
@import "devicon/devicon.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Custom Colors */
  --face-intro: #0f172a;
  --face-education: #2563eb;
  --face-projects: #14b8a6;
  --face-skills: #0d9488;
  --face-experience: #8b5cf6;
  --face-contact: #f43f5e;
  /* Face Size */
  --face-size: min(75vw, 75vh); /* keeps it square and fitting screen */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.cube-container {
  perspective: calc(var(--face-size) * 3);
}
